{% set
  item = [
  {
    name: 'БЭЛЛА',
    image: '../img/slider/bella_800x600.jpg',
    description: 'Изготовим угловую кухню по вашим размерам с использованием любых фасадов и столешниц в наличии и под заказ. Указана примерная цена за весь гарнитур.',
    size: '',
    price: '56.799 руб.'
  },
  {
    name: 'ИМПЕРИА',
    image: '../img/slider/imperial_800x600.jpg',
    description: 'Кухня выполнена в лаконичном скандинавском стиле с сочетание гладких светлых фасадов и натуральных материалов. Открытые витрины позволят внести яркие акценты, а универсальный механизм открытия ящиков Push-to-Open уберет все лишнее.',
    size: '',
    price: '115.000 руб.'
  },
  {
    name: 'АМИСИА',
    image: '../img/slider/amisia_800x600.jpg',
    description: 'Эффективный и функциональный гарнитур "Амисия", оформленный глянцевыми фасадами, создаст изящную игру света на вашей кухне. Контрастность цветов подарит Вам новые яркие эмоции и побудит к кулинарным свершениям. В стоимость не включены дополнительные опции.',
    size: '',
    price: '60.602 руб.'
  },
  {
    name: 'БРИДЖЕТ',
    image: '../img/slider/briget_800x600.jpg',
    description: 'На картинке представлен пример кухни, которую мы можем изготовить для Вас по индивидуальному проекту, любого цвета, из любого материала, с фурнитурой премиум класса.',
    size: '',
    price: 'от 53.000 руб.'
  },
  {
    name: 'ЛЕО',
    image: '../img/slider/leo_800x600.jpg',
    description: 'Изготовим малогобаритную кухню по вашим размерам с использованием любых фасадов и столешниц в наличии и под заказ. Богатый выбор цветов и материалов!',
    size: '',
    price: '52.589 руб.'
  },
  {
    name: 'НИЛУС',
    image: '../img/slider/nilus_800x600.jpg',
    description: 'Лаконичная и компактная кухня, дополненная системой InnoTech Atira, идеально подчеркнет индивидуальность Вашего характера. Система встроенного духового шкафа добавит эстетики вашему интерьеру.',
    size: '',
    price: '95.000 руб.'
  },
  {
    name: 'ТОЛЕДО',
    image: '../img/slider/toledo_800x600.jpg',
    description: 'Изготовим кухню из пластика по вашим размерам с использованием любых фасадов и столешниц в наличии и под заказ. Указана примерная цена за весь гарнитур.',
    size: '',
    price: '61.722 руб.'
  },
  {
    name: 'ТОРНЕА',
    image: '../img/slider/tornea_800x600.jpg',
    description: 'Современный и минималистичный дизайн создан специально для молодых и энергичных людей, живущих в ритме большого города, а возможность  использовать фасады разных цветов, сделает ее оригинальной и неповторимой. Указана минимальная стоимость гарнитура.',
    size: '',
    price: '70.000 руб.'
  },
  {
    name: 'ФУЗ',
    image: '../img/slider/fuz_800x600.jpg',
    description: 'Изготовим кухню  на заказ по вашим размерам с использованием любых фасадов и столешниц в наличии и под заказ. Богатый выбор цветов и материалов.',
    size: '',
    price: '50.402 руб.'
  },
  {
    name: 'LAIMA',
    image: '../img/slider/laima_800x600.jpg',
    description: 'Изготовим кухню на заказ по вашим размерам с использованием любых фасадов и столешниц в наличии и под заказ. Указана примерная цена за весь гарнитур.',
    size: '',
    price: '52.711 руб.'
  }
]
%}